.center {
    text-align: center;
}

.right {
    text-align: center;
}

.poisk {
    text-align: center;
}

.cvet {
    color: blue;
}

.gallery {
    text-align: center;
}

.gallery1 {
    color: purple;
}

.vxod {
    text-align: right;
    float: right;
}

.knopka {
    position: absolute;
    top: 265px;
    left: 988px;
}

.registr {
    position: absolute;
    top: 265px;
    left: 890px;
}


.ramka {
    border: none;
}

.ramka input {
    width: 30%;
    padding: 5px;
    width: auto;
    margin: auto;
}

body {
    background-color: rgb(255, 255, 255);
}

.Home {
    text-align: center;
}

.horizont {
    list-style-type: none;
    padding: 0px;
    display: flex;
}
.horizont li{
    margin-right: 10px;
    text-align: center;
}
.photo{
    margin-top: 0px;
    margin-left: 800px;
}
.text{
    margin-top: -350px;
}
body{
    background-image: url(https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?size=626&ext=jpg&ga=GA1.1.632798143.1705622400&semt=sph);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.border{
    border: none;
}